<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" type="image/x-icon">
    <title>Дизайн студия 23 | Дизайн интерьера квартир и домов в Краснодаре</title>
    <meta name="description" content="Сделаем дизайн проект в любом стиле дизайна на ваш выбор. Подготовим чертежи и рабочую документацию для строителей. Осуществим авторский надзор во время ремонта">
    <meta property="og:title" content="Дизайн студия 23 | Дизайн интерьера квартир и домов в Краснодаре">
    <meta property="og:description" content="Сделаем дизайн проект в любом стиле дизайна на ваш выбор. Подготовим чертежи и рабочую документацию для строителей. Осуществим авторский надзор во время ремонта">
    <meta property="og:image" content="/assets/hero.jpeg">

    <!-- Zadarma -->
    <script>(function(w, c){(w[c]=w[c]||[]).push(function(){new zTracker({"id":"ec8e72f32f990a487186112a0b0286353016","metrics":{"metrika":"56286073","ga":"UA-152825504-1"}});});})(window, "zTrackerCallbacks");</script>
    <script async id="zd_ct_phone_script" src="https://my.zadarma.com/js/ct_phone.min.js"></script>
    <!-- VK Pixel -->
    <!-- <script>!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?162",t.onload=function(){VK.Retargeting.Init("VK-RTRG-428011-63Va4"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script> -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but design-studio-23 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
