<template>
  <div class="progress-bar">
    <ul class="progress-bar__steps">
      <li
        class="progress-bar__step"
        v-for="stepNumber in stepsCount"
        :class="stepNumber <= activeStep ? '-active' : ''"
        :key="stepNumber"
      >
        {{ stepNumber }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'ProgressBar',
  props: {
    stepsCount: {
      type: Number,
      default: 0,
    },
    activeStep: {
      type: Number,
      default: 0,
    },
  },
};
</script>

<style lang="scss">
.progress-bar {
  &__steps {
    display: flex;
    padding: 0;
  }

  &__step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(64 / 39 * 1em);
    height: calc(64 / 39 * 1em);
    border-radius: 100px;
    font-family: $global-font;
    font-size: $fz-large;
    font-weight: 300;
    color: #d5bf7d;
    border: 3px solid #d5bf7d;
    margin-right: calc(40 / 39 * 1em);

    @include below($mobile-width) {
      font-size: 32px;
    }

    @include below($mobile-width-xs) {
      font-size: 24px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &.-active {
      color: #11181c;
      border: 3px solid #11181c;
    }
  }
}
</style>
