<template>
  <div class="step-type-result">
    <div class="step__question question">
      <!-- Ориентировочная стоимость вашего проекта: -->
      {{ step.question }}
    </div>
    <!-- <div class="step__message">
      {{ projectPrice }}
    </div> -->
    <div class="step__answers">
      <div
        class="answers__group"
        v-for="group in step.answersGroups"
        :class="group.isActive ? '-active' : ''"
        :key="group.title"
      >
        <div class="answers__group-title" v-if="group.title">
          {{ group.title }}
        </div>
        <ul class="answers__list">
          <li
            class="answers__item answer"
            v-for="answer in group.answers"
            :class="answer.isActive ? '-active' : ''"
            :key="answer.value"
          >
            <label class="answer__wrapper">
              <input
                type="radio"
                class="answer__control"
                :name="`step-${index}`"
                :value="answer.value"
                @change="$emit('selectAnswer', {answer, group})"
              />
              <span>{{ answer.value }}</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'QuizStepTypeResult',
  props: {
    step: {
      type: Object,
    },
    index: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    projectPrice() {
      const { projectPrice } = this.$store.getters;
      const formatedPrice = `${projectPrice}`.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');
      return `от ${formatedPrice} рублей`;
    },
  },
};
</script>
