<template>
  <div class="step-type-form">
    <div class="step__question form__title">
      {{ title }}
    </div>
    <div class="step__message step__message--form">
      {{ message }}
    </div>
    <div class="step__answers">
      <callback-form
        :mixClass="'step__form'"
        :activeFields="activeFormFields"
        :buttonText="buttonText"
        :isSending="formIsSending"
        @submit="(data) => {
          sendData(data);
        }"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import CallbackForm from '@/components/CallbackForm.vue';

export default {
  name: 'QuizStepTypeForm',
  components: {
    CallbackForm,
  },
  props: {
    quizResults: {
      type: [Object, Array],
    },
  },
  data: () => ({
    formIsSending: false,
  }),
  computed: {
    ...mapGetters([
      'quizType',
      'requestType',
    ]),
    activeFormFields() {
      if (this.requestType !== 'none') {
        return ['name', 'phone', 'timeForCall'];
      }
      return ['name', 'phone'];
    },
    buttonText() {
      const textVariants = {
        none: 'Посмотреть чертежи и 3D',
        meet: 'Назначить встречу',
        call: 'Заказать звонок',
      };
      const text = textVariants[this.requestType];

      return text;
    },
    title() {
      const title = this.requestType === 'none'
        ? 'Заполните форму ниже и получите:'
        : 'Заполните форму ниже';

      return title;
    },
    message() {
      const messages = {
        none: 'Чертежи и 3D-визуализацию реального проекта',
        meet: 'Мы с вами свяжемся и договоримся на встречу',
        call: 'Мы свяжемся с вами в указанное время',
      };

      return messages[this.requestType];
    },
  },
  methods: {
    async sendData(data) {
      if (this.formIsSending) {
        return;
      }
      this.formIsSending = true;

      const sendingData = data || {};
      const url = '/api/listen';

      sendingData.quizResult = this.quizResults;
      sendingData.requestType = this.requestType;
      sendingData.quizType = this.quizType;

      // for local tests
      if (process.env.NODE_ENV !== 'production') {
        setTimeout(() => {
          /* eslint-disable-next-line no-console */
          console.log(sendingData);
          const ymGoal = `send_${this.quizType}_${this.requestType}`;
          this.$metrika.reachGoal(ymGoal); // send data to Yandex Metrika
          this.$router.push({ path: '/thank' });
          this.formIsSending = false;
        }, 1000);

        return;
      }

      try {
        const response = await axios.post(url, {
          data: sendingData,
        });

        const ymGoal = `send_${this.quizType}_${this.requestType}`;
        this.$metrika.reachGoal(ymGoal); // send data to Yandex Metrika
        this.$metrika.reachGoal('send_form'); // send data to Yandex Metrika

        if (process.env.NODE_ENV !== 'production') {
          /* eslint-disable-next-line no-console */
          console.log(response);
        }
        this.$router.push({ path: '/thank' });
        this.formIsSending = false;
      } catch (error) {
        if (process.env.NODE_ENV !== 'production') {
          /* eslint-disable-next-line no-console */
          console.log(error);
        }
        this.formIsSending = false;
      }
    },
  },
};
</script>
