<template>
  <div class="step-type-question">
    <div class="step__question question">
      {{ step.question }}
    </div>
    <div class="step__answers answers">
      <div
        class="answers__group"
        v-for="group in step.answersGroups"
        :class="group.isActive ? '-active' : ''"
        :key="group.title"
      >
        <div class="answers__group-title" v-if="group.title">
          {{ group.title }}
        </div>
        <ul
          class="answers__list"
          v-if="group.template === 'text-list' || !group.template"
        >
          <li
            class="answers__item answer"
            v-for="answer in group.answers"
            :class="answer.isActive ? '-active' : ''"
            :key="answer.value"
          >
            <label class="answer__wrapper">
              <input
                type="radio"
                class="answer__control"
                :name="`step-${index}`"
                :value="answer.value"
                @change="$emit('selectAnswer', {answer, group})"
              />
              <span>{{ answer.value }}</span>
            </label>
          </li>
        </ul>
        <ul
          class="answers__cards"
          v-else-if="group.template === 'cards'"
        >
          <li
            class="answers__card answer-card"
            v-for="answer in group.answers"
            :class="answer.isActive ? '-active' : ''"
            :key="answer.value"
          >
            <label class="answer-card__wrapper">
              <input
                type="radio"
                class="answer-card__control"
                :name="`step-${index}`"
                :value="answer.value"
                @change="$emit('selectAnswer', {answer, group})"
              />
              <img
                class="answer-card__image"
                :src="answer.image"
                :alt="answer.value"
              >
              <div class="answer-card__title">{{ answer.value }}</div>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'QuizStepTypeQuestion',
  props: {
    step: {
      type: Object,
    },
    index: {
      type: Number,
      default: 0,
    },
  },
};
</script>
