<template>
  <div class="not-found-page page">
    <div class="not-found-page__wrapper container">
      <h2 class="not-found-page__title">
        Упс! Страница не найдена. <br>
        Мы разбираемся почему это случилось. <br>
      </h2>
      <p class="not-found-page__text">
        А пока, вы можете вернуться на <a href="/">главную страницу.</a>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NotFoundPage',
};
</script>

<style lang="scss">
.not-found-page {
  padding: 60px 0 100px;

  &__wrapper {
    position: relative;
    width: 100%;
    height: 900px;
    max-width: 584px + 48px;
    max-height: 95vh;
    padding: 0 24px;
    z-index: 1;
  }

  &__title {
    font-size: $fz-large;
    font-family: $global-font;
    font-weight: 300;
  }

  &__text {
    font-size: 24px;
    font-family: $global-font;
    font-weight: 300;
  }
}

</style>
