<template>
  <div class="home">
    <section class="hero">
      <div class="hero__wrapper">
        <h1 class="hero__title" v-html="heroTitle"></h1>
        <div class="hero__offer offer">
          <div class="offer__intro-title">
            Ответьте на 5 вопросов и получите:
          </div>
          <ul class="offer__presents-list">
            <li class="offer__list-item">Чертежи и 3D-визуализацию с реального проекта</li>
            <li class="offer__list-item">Ориентировочную стоимость вашего дизайн-проекта</li>
            <li class="offer__list-item">Подарок за экономию нашего времени</li>
          </ul>
          <div class="offer__button-wrapper">
            <button
              class="button button--large"
              @click="startQuiz('call_to_action_button_1')"
            >
              Получить
            </button>
          </div>
        </div>
        <!-- <div class="hero__button-wrapper">
          <button
            class="button button--large"
            @click="startQuiz('call_to_action_button_1')"
          >
            Получить
          </button>
        </div> -->
      </div>
    </section>

    <section-designs
      title="Любые стили дизайна"
      :items="sections.designStyles"
    />

    <section-services
      title="Услуги"
      :items="sections.services"
    />

    <section-design-inclusions
      title="Состав полного дизайн-проекта"
      :items="sections.designInclusions"
    />

    <section class="quiz-section">
      <a name="quiz"></a>
      <div class="quiz-section__wrapper container offer">
        <div class="offer__intro-title">
          Ответьте на 5 вопросов и получите:
        </div>
        <ul class="offer__presents-list">
          <li class="offer__list-item">Чертежи и 3D-визуализацию с реального проекта</li>
          <li class="offer__list-item">Ориентировочную стоимость вашего дизайн-проекта</li>
          <li class="offer__list-item">Подарок за экономию нашего времени</li>
        </ul>
        <div class="offer__button-wrapper">
          <button
            class="button button--large"
            @click="startQuiz('call_to_action_button_2')"
          >
            Получить
          </button>
        </div>
      </div>
      <!-- <div class="quiz-section__wrapper container">
        <div class="quiz-section__title">
          Выберите вид вашего помещения
        </div>
        <div class="quiz-section__content row">
          <div class="quiz-section__col">
            <a
              href="#"
              class="quiz-section__link quiz-section__link--apartaments"
              @click.prevent="startQuiz('apartaments')"
            >
              <span>Квартира</span>
            </a>
          </div>
          <div class="quiz-section__col">
            <a
              href="#"
              class="quiz-section__link quiz-section__link--house"
              @click.prevent="startQuiz('house')"
            >
              <span>Частный дом</span>
            </a>
          </div>
        </div>
      </div> -->
    </section>
    <section class="contacts-section">
      <div class="contacts-section__map map">
        <iframe src="https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=170598925826" width="100%" height="400" frameborder="0"></iframe>
      </div>
    </section>
  </div>
</template>

<script>
import landingSections from '@/configs/landing.config';
import SectionDesigns from '@/components/SectionDesigns.vue';
import SectionServices from '@/components/SectionServices.vue';
import SectionDesignInclusions from '@/components/SectionDesignInclusions.vue';

export default {
  name: 'home',
  components: {
    SectionDesigns,
    SectionServices,
    SectionDesignInclusions,
  },
  data: () => ({
    heroTitle: 'Дизайн&nbsp;квартир и&nbsp;частных&nbsp;домов.<br> В&nbsp;Краснодаре и&nbsp;по&nbsp;всей&nbsp;России<br>(удаленно)',
    sections: landingSections,
  }),
  methods: {
    startQuiz(reachID) {
      if (reachID) {
        this.$metrika.reachGoal(reachID);
      }

      this.$store.dispatch('startQuiz');
      this.$router.push('/quiz');
    },
  },
};
</script>

<style lang="scss">
  .hero {
    position: relative;
    background-image: url('/assets/hero.jpeg'),
                      linear-gradient(60deg, #d6d0ce, #fafafa);;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // padding-bottom: calc(500 / 1200 * 100vw);
    min-height: 81vh;

    &__wrapper {
      position: relative;
      width: 100%;
      padding: 0 24px;
      padding-top: calc(80 / 1200 * 100vw);
      padding-bottom: 32px;

      @include below($desktop-width) {
        padding: 0 12px;
        padding-top: 80px;
        padding-bottom: 32px;
      }

      @include below($mobile-width-xs) {
        padding-top: 60px;
      }
    }

    &__title {
      font-family: $global-font;
      text-transform: uppercase;
      font-weight: 600;
      font-size: calc(40 / 1200 * 100vw);
      line-height: 1.2;
      margin: 0;
      color: $text-color--dark;
      text-align: center;

      @include below($desktop-width) {
        font-size: 40px;
      }

      @include below($mobile-width) {
        font-size: 36px;
      }

      @include below($mobile-width-xs) {
        font-size: 28px;
        text-align: left;
      }
    }

    &__offer {
      max-width: 632px;
      margin: 32px auto 0;
      padding: 24px 32px 14px;
      background: rgba(#ffffff, .8);
      box-shadow: 0 1px 6px 1px rgba(#000000, .3);

      & .offer__intro-title {
        font-size: 24px;
        margin-bottom: 20px;

        @include below($mobile-width-xs) {
          font-size: 20px;
        }
      }

      & .offer__presents-list {
        @include below($mobile-width-xs) {
          font-size: 14px;
        }
      }

      & .offer__list-item {
        line-height: 1.5;
      }

      & .offer__button-wrapper {
        margin-top: 40px;
      }
    }

    // &__button-wrapper {
    //   display: flex;
    //   justify-content: center;
    //   margin-top: 90px;
    // }
  }

  .quiz-section {
    padding: 50px 0 26px;
    background-image: $bg-gradient--silver;

    &__wrapper {
      max-width: 584px + 48px;
    }

    &__title {
      font-family: $global-font;
      text-transform: uppercase;
      font-weight: 300;
      text-align: center;
      font-size: 24px;
      margin-bottom: 30px;
    }

    &__col {
      width: 50%;
      padding: 0 12px;

      @include below($mobile-width-xs) {
        width: 100%;
      }
    }

    &__link {
      position: relative;
      display: block;
      padding-bottom: (185 / 280 * 100%);
      color: $text-color--light;
      font-family: $global-font;
      font-size: 28px;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none;
      margin-bottom: 24px;

      &--apartaments {
        background-image: url('/assets/images/quiz/apartaments.png'),
                          $bg-gradient--dark;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }

      &--house {
        background-image: url('/assets/images/quiz/house.png'),
                          $bg-gradient--dark;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }

      & > span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .offer {
    padding-bottom: 30px;

    &__intro-title {
      font-family: $global-font;
      text-transform: uppercase;
      font-weight: 300;
      text-align: center;
      font-size: $fz-large;
      margin-bottom: 30px;

      @include below($mobile-width-xs) {
        font-size: 28px;
      }
    }

    &__presents-list {
      display: block;
      padding-left: 36px;
      font-family: $global-font;
      font-size: 18px;
      padding: 0;
      list-style: none;
    }

    &__list-item {
      position: relative;
      line-height: 2;
      margin: 10px 0;

      &::before {
        content: '';
        position: relative;
        display: inline-block;
        top: .4em;
        width: 1.6em;
        height: 1.6em;
        margin-right: 1em;
        background: url('/assets/images/checked.svg') center no-repeat;
        background-size: contain;
      }
    }

    &__button-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }
  }
</style>
