<template>
  <div class="project-preview page">
    <div class="project-preview__wrapper">
      <iframe
        :src="previewPath"
        frameborder="0"
        width="100%"
        height="100%"
      ></iframe>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProjectPreview',
  computed: {
    previewPath() {
      return this.$store.state.projectPreviewPath;
    },
  },
};
</script>

<style lang="scss">
.project-preview {
  padding: 60px 0 100px;

  &__wrapper {
    position: relative;
    width: 100%;
    padding: 0 24px;
    height: 900px;
    max-height: 95vh;
    z-index: 1;

    @include below($mobile-width) {
      padding: 0 12px;
    }
  }
}

</style>
