<template>
  <div class="quiz page">
    <div class="quiz__progress container" v-show="1 < activeStep && activeStep < quizSteps.length">
      <progress-bar
        :stepsCount="quizSteps.length - 1"
        :activeStep="activeStep - 1"
      />
    </div>
    <div class="quiz__steps container">
      <div
        class="quiz__step step"
        v-show="index + 1 === activeStep"
        v-for="(step, index) in quizSteps"
        :key="step.question"
      >
        <quiz-step-type-question
          v-if="step.type === 'question' || !step.type"
          :step="step"
          :index="index"
          @selectAnswer="(data) => {
            setAnswer(data)
          }"
        />
        <quiz-step-type-result
          v-else-if="step.type === 'result'"
          :step="step"
          :index="index"
          @selectAnswer="(data) => {
            setAnswer(data)
          }"
        />
        <quiz-step-type-form
          v-else-if="step.type === 'callback'"
          :quizResults="results"
        />
      </div>
    </div>
    <div class="quiz__button">
      <button
        class="button"
        @click="nextStep"
        v-show="quizSteps[activeStep - 1].isCompleted"
      >
        Далее
      </button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import ProgressBar from '@/components/quiz/ProgressBar.vue';
import QuizStepTypeQuestion from '@/components/quiz/QuizStepTypeQuestion.vue';
import QuizStepTypeResult from '@/components/quiz/QuizStepTypeResult.vue';
import QuizStepTypeForm from '@/components/quiz/QuizStepTypeForm.vue';

export default {
  components: {
    ProgressBar,
    QuizStepTypeQuestion,
    QuizStepTypeResult,
    QuizStepTypeForm,
  },
  data: () => ({
    activeStep: 1,
    results: [],
  }),
  computed: {
    ...mapGetters([
      'quizSteps',
      'quizType',
      'requestType',
    ]),
  },
  methods: {
    setAnswer(data) {
      const selectedAnswer = data.answer;
      const answerGroup = data.group;
      const stepIndex = this.activeStep - 1;
      const questionValue = this.quizSteps[stepIndex].question || null;
      const groupTitle = answerGroup.title || null;
      const answerValue = selectedAnswer.value;
      let triggers = null;
      const result = {
        question: '',
        answer: '',
      };

      this.quizSteps[stepIndex].answersGroups.forEach((group) => {
        if (groupTitle === group.title) {
          /* eslint-disable-next-line no-param-reassign */
          group.isActive = true;
        } else {
          /* eslint-disable-next-line no-param-reassign */
          group.isActive = false;
        }

        group.answers.forEach((answer) => {
          if (groupTitle === group.title && answerValue === answer.value) {
            /* eslint-disable-next-line no-param-reassign */
            answer.isActive = true;
            result.question = questionValue;
            result.answer = answerValue;

            if (answer.trigger) {
              /* eslint-disable-next-line prefer-destructuring */
              triggers = answer.trigger;
            }
          } else {
            /* eslint-disable-next-line no-param-reassign */
            answer.isActive = false;
          }
        });
      });

      if (triggers) {
        const keys = Object.keys(triggers);

        keys.forEach((key) => {
          switch (key) {
            case 'quizType':
              this.$store.dispatch('setQuizType', triggers.quizType);
              break;

            case 'requestType':
              this.$store.dispatch('setRequestType', triggers.requestType);
              break;

            case 'objectSquare':
              this.$store.dispatch('setObjectSquare', triggers.objectSquare);
              break;

            default:
              /* eslint-disable-next-line no-console */
              console.log(`Wrong trigger: ${key}`);
          }
        });
      }

      this.results[stepIndex] = result;
      this.quizSteps[stepIndex].isCompleted = true;
    },
    nextStep() {
      const { ymGoal } = this.quizSteps[this.activeStep - 1];

      if (ymGoal) {
        this.$metrika.reachGoal(ymGoal); // send data to Yandex Metrika
      }

      if (this.activeStep < this.quizSteps.length) {
        this.activeStep += 1;
      }
    },
  },
};
</script>

<style lang="scss">
  .quiz {
    display: flex;
    flex-direction: column;
    padding: 40px 0;

    &__progress {
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 1;
    }

    &__steps {
      position: relative;
      max-width: 584px + 48px;
      padding-top: 40px;
      z-index: 1;
    }

    .step {
      &__question,
      &__message {
        font-size: $fz-large;
        font-family: $global-font;
        font-weight: 300;
        text-align: center;
      }

      &__message {
        color: #2ba347;
        margin-top: 30px;

        &--form {
          margin-top: 20px;
          font-size: 30px;
        }
      }

      &__answers {
        display: flex;
        justify-content: center;
        padding-top: 40px;
      }
    }

    .answers {
      @include below($mobile-width-xs) {
        flex-direction: column;
        align-items: center;
      }

      &__group {
        opacity: .8;
        margin-bottom: 40px;

        &:nth-of-type(2n) {
          margin-left: auto;

          @include below($mobile-width-xs) {
            margin-left: 0;
          }
        }

        &.-active {
          opacity: 1;

          & .answer {
            color: $text-color--dark;
          }
        }
      }

      &__group-title {
        font-family: $global-font;
        text-transform: uppercase;
        font-weight: 300;
        font-size: $fz-basic;
        margin-bottom: 20px;
      }

      &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0;
      }

      &__cards {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        max-width: 1024px;
        width: calc(100vw - 48px);

        @include below($mobile-width) {
          width: calc(100vw - 24px);
        }
      }

      &__card {
        width: 25%;
        padding: 0 12px 24px;

        @include below($tablet-width) {
          width: calc(100% / 3);
        }

        @include below($mobile-width) {
          width: 50%;
        }
      }
    }

    .answer {
      font-family: $global-font;
      font-size: $fz-basic;
      color: #d5bf7d;
      list-style: none;
      cursor: pointer;

      &__wrapper {
        position: relative;
        cursor: pointer;

        &::before {
          position: relative;
          content: '';
          top: .1em;
          display: inline-block;
          width: 1em;
          height: 1em;
          border: 2px solid #d5bf7d;
          margin-right: 10px;
        }

        &::after {
          position: absolute;
          content: '';
          top: 0.3em;
          left: 0.3em;
          display: block;
          transform: rotate(45deg);
          width: .4em;
          height: .7em;
          border-right: 2px solid transparent;
          border-bottom: 2px solid transparent;
        }
      }

      &__control {
        display: none;
      }

      &:hover {
        & .answer__wrapper::before {
          border: 2px solid #11181c;
        }
      }

      &.-active {
        & .answer__wrapper::before {
          border: 2px solid #11181c;
        }

        & .answer__wrapper::after {
          border-right: 2px solid #11181c;
          border-bottom: 2px solid #11181c;
        }
      }
    }

    .answer-card {
      font-size: 18px;
      color: $text-color--dark;
      list-style: none;
      cursor: pointer;

      &__wrapper {
        position: relative;
        display: block;
        cursor: pointer;
      }

      &__title {
        font-family: $global-font;
        font-size: $fz-basic;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
      }

      &__image {
        width: 100%;
        margin-bottom: 8px;
      }

      &__control {
        display: none;
      }

      &.-active {
        & .answer-card__image {
          transform: scale3d(.9, .9, 1);
          box-shadow: 0 0 6px 1px rgba(blue, .6);
        }
      }
    }

    &__button {
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 1;
    }
  }
</style>
