<template>
  <div class="thank page">
    <div class="thank__wrapper container">
      <div class="thank__title">
        Благодарим за проявленный интерес
      </div>
      <div class="thank__message">
        {{ message }}
      </div>
      <div class="thank__button">
        <button class="button" @click="getPresent()">
          Посмотреть
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Thankyou',
  data: () => ({
    showPreview: false,
  }),
  computed: {
    ...mapGetters([
      'quizType',
      'requestType',
    ]),
    message() {
      const message = this.requestType !== 'none'
        ? 'Менеджер свяжется с вами в указанное время, а пока вы можете посмотреть чертежи и 3D-визуализацию'
        : 'Посмотреть чертежи и 3D-визуализацию вы можете нажав на кнопку ниже';

      return message;
    },
  },
  methods: {
    getPresent() {
      const ymGoal = `watch_${this.quizType}_${this.requestType}`;
      this.$metrika.reachGoal(ymGoal); // send data to Yandex Metrika
      this.$router.push('/project-preview');
    },
  },
};
</script>

<style lang="scss">
.thank {
  padding: 60px 0 100px;

  &__wrapper {
    position: relative;
    max-width: 584px + 48px;
    z-index: 1;
  }

  &__title,
  &__message {
    font-size: $fz-large;
    font-family: $global-font;
    font-weight: 300;
    text-align: center;
  }

  &__title {
    color: #2ba347;
    margin-bottom: 40px;
  }

  &__message {
    line-height: 1.7;
    margin-bottom: 60px;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: auto;
  }
}
</style>
