<template>
  <div class="footer">
    <div class="footer__wrapper container">
      <div class="footer__copyright copyright">
        "Дизайн Студия 23" © 2019
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppFooter',
};
</script>

<style lang="scss">
.footer {
  background-image: $bg-gradient--dark;
  font-family: $global-font;
  font-weight: 300;
  padding: 8px 0;
  min-height: $footer-height;

  &__copyright {
    text-align: center;
    font-size: $fz-small;
    color: #d5bf7d;
  }
}
</style>
