<template>
  <header class="header">
    <div class="header__wrapper container">
      <div class="header__logo logo">
        <a href="/"><img src="/assets/logo-sheet.svg" alt="Дизайн Студия 23" class="logo__img" width="129" height="40"></a>
      </div>
      <div class="header__slogan">
        Воплощаем интерьерные мечты в реальность
      </div>
      <div class="header__callback">
        <a href="tel:+78612176123" class="phone zphone">8 (861) 217-61-23</a>
        <button
          class="button header__button"
          @click="popupOpen"
        >Заказать звонок</button>
      </div>
    </div>
    <popup
      v-show="popupIsShowed"
      @close="popupIsShowed = false"
    >
      <template v-if="popupContent === 'trap-form'">
        <div class="popup__title">
          Посмотрите чертежи и 3D-визуализацию:
        </div>
        <callback-form
          :mixClass="'popup__form'"
          :activeFields="['name', 'phone']"
          :buttonText="'Посмотреть'"
          :isSending="formIsSending"
          @submit="(data) => {
            sendForm(data);
          }"
        />
      </template>
      <callback-form
        v-if="popupContent === 'callback-form'"
        :mixClass="'popup__form'"
        :activeFields="['name', 'phone', 'timeForCall']"
        :buttonText="'Заказать звонок'"
        :isSending="formIsSending"
        @submit="(data) => {
          sendForm(data);
        }"
      />
    </popup>
  </header>
</template>

<script>
import axios from 'axios';
import Popup from '@/components/Popup.vue';
import CallbackForm from '@/components/CallbackForm.vue';

export default {
  name: 'AppHeader',
  components: {
    Popup,
    CallbackForm,
  },
  data: () => ({
    popupFirstInit: true,
    popupIsShowed: false,
    formIsSending: false,
    popupContent: 'callback-form',
  }),
  methods: {
    popupOpen() {
      this.popupContent = 'callback-form';
      this.popupIsShowed = true;
      if (this.popupFirstInit) {
        this.$metrika.reachGoal('modal_call_request_open');
        this.popupFirstInit = false;
      }
    },
    async sendForm(data) {
      if (this.formIsSending) {
        return;
      }
      this.formIsSending = true;

      const sendingData = data || {};

      if (this.popupContent === 'callback-form') {
        sendingData.requestType = 'call';
      } else {
        sendingData.requestType = 'none';
      }

      try {
        const response = await axios.post('/api/listen', {
          data: sendingData,
        });

        /* eslint-disable-next-line no-console */
        console.log(response);
        this.popupIsShowed = false;

        if (this.popupContent === 'callback-form') {
          this.$metrika.reachGoal('modal_call_request_send');
        } else {
          this.$metrika.reachGoal('modal_trap_send');
        }

        this.$router.replace({ path: '/thank' });
        this.formIsSending = false;
      } catch (error) {
        /* eslint-disable-next-line no-console */
        console.log(error);
        this.formIsSending = false;
      }
    },
  },
  mounted() {
    const timeNow = parseInt(new Date().getTime() / 1000, 10);
    let trapCooldown = window.localStorage.getItem('trapCooldown') || 0;
    let trapSpent = (trapCooldown > timeNow)
      ? window.localStorage.getItem('trapSpent') || false
      : false;

    if (trapSpent) {
      return;
    }

    setTimeout(() => {
      let timerStarted = false;
      let mouseInApp = true;

      document.addEventListener('mouseenter', () => {
        mouseInApp = true;
      }, false);

      document.addEventListener('mouseleave', (e) => {
        const isQuiz = this.$store.state.quiz.isStarted;
        mouseInApp = false;

        if (!timerStarted && !isQuiz && !this.popupIsShowed) {
          timerStarted = true;
          setTimeout(() => {
            if (e.clientY < 20 && !trapSpent && !mouseInApp) {
              trapCooldown = parseInt((new Date().getTime() / 1000) + (3600 * 24 * 4), 10);
              trapSpent = true;

              window.localStorage.setItem('trapCooldown', trapCooldown);
              window.localStorage.setItem('trapSpent', trapSpent);

              this.popupContent = 'trap-form';
              this.popupIsShowed = true;
            }
            timerStarted = false;
          }, 500);
        }
      }, false);
    }, 1000);
  },
};
</script>

<style lang="scss">
.header {
  position: relative;
  min-height: $header-height;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 2px rgba(#000000, .3);
  padding: 10px 0;
  font-family: $global-font;
  font-weight: 300;
  z-index: 10;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__slogan {
    font-size: $fz-basic;
    text-transform: uppercase;
    line-height: 1;

    @include below($tablet-width) {
      display: none;
    }
  }

  &__callback {
    display: flex;
    align-items: center;

    & .phone {
      font-size: $fz-basic;
      margin-right: 18px;
      color: $text-color--dark;
      text-decoration: none;

      @include below($mobile-width) {
        margin-right: 0;
      }
    }
  }

  &__button {
    @include below($mobile-width) {
      display: none;
    }
  }
}

.logo {
  &__img {
    width: 129px;
    height: 40px;
  }
}
</style>
