<template>
  <form
    class="callback-form"
    :class="mixClass"
    @submit.prevent="submit"
  >
    <div
      class="callback-form__fieldset form-group"
      v-for="(field, key) in allowedFields"
      :key="key"
    >
      <label
        v-if="field.label"
        for="field.id"
        class="form-group__label"
      > {{ field.label }}</label>
      <input
        v-if="field.type !== 'select'"
        class="form-group__field"
        :class="field.error ? 'form-group__field--error' : ''"
        :id="field.id"
        :type="field.type"
        :name="field.name"
        :required="field.required"
        :disabled="field.disabled"
        :placeholder="field.placeholder"
        v-model="field.value"
        v-mask="field.mask || null"
        @blur="checkField(key)"
      >
      <select
        v-else-if="field.type === 'select'"
        class="form-group__select"
        :class="field.error ? 'form-group__select--error' : ''"
        :id="field.id"
        :name="field.name"
        :required="field.required"
        :disabled="field.disabled"
        :placeholder="field.placeholder"
        v-model="field.value"
        @blur="checkField(key)"
      >
        <option
          v-for="option in field.options"
          :key="option"
          :value="option"
        >
          {{ option }}
        </option>
      </select>
      <span
        v-if="field.error"
        class="form-group__message form-group__message--error"
      >
        {{ field.error }}
      </span>
    </div>
    <div class="callback-form__button">
      <button
        class="button button--block"
        type="submit"
        :disabled="isSending"
      >
        {{ buttonText }}
      </button>
    </div>
    <!-- <div class="callback-form__loader" ></div> -->
  </form>
</template>

<script>
import messages from '@/utils/messages';

export default {
  name: 'CallbackForm',
  props: {
    mixClass: {
      type: String,
      default: '',
    },
    buttonText: {
      type: String,
      default: 'Отправить',
    },
    isSending: {
      type: Boolean,
      default: false,
    },
    activeFields: {
      type: Array,
      default: () => ([
        'name',
        'phone',
        'timeForCall',
      ]),
    },
  },
  data: () => ({
    formFields: {
      name: {
        id: 'user-name',
        name: 'name',
        type: 'text',
        label: 'Введите имя',
        placeholder: 'Марина',
        value: '',
        pattern: /^[a-zа-яё\s\-_]+$/i,
        required: true,
        disabled: false,
        error: '',
      },
      phone: {
        id: 'user-phone',
        name: 'phone',
        type: 'text',
        label: 'Введите телефон',
        placeholder: '+7 (123) 456-78-90',
        value: '',
        mask: {
          mask: '+7 (899) 999-99-99',
          definitions: {
            8: { validator: '[0-7, 9]' },
          },
          showMaskOnHover: false,
          greedy: true,
        },
        pattern: /^\+?([\d( )-]){6,24}$/, // Easy version of phone numbers validations
        required: true,
        disabled: false,
        error: '',
      },
      timeForCall: {
        id: 'time-for-call',
        name: 'time-for-call',
        type: 'select',
        label: 'Удобное время для звонка',
        value: 'В любое время',
        required: false,
        disabled: false,
        error: '',
        options: [
          'В любое время',
          '9:00',
          '10:00',
          '11:00',
          '12:00',
          '13:00',
          '14:00',
          '15:00',
          '16:00',
          '17:00',
          '18:00',
          '19:00',
          '20:00',
        ],
      },
    },
  }),
  computed: {
    allowedFields() {
      const fieldKeys = Object.keys(this.formFields);
      const allowedFields = {};

      fieldKeys.forEach((key) => {
        if (this.activeFields.includes(key)) {
          allowedFields[key] = this.formFields[key];
        }
      });

      return allowedFields;
    },
    isValid() {
      const fields = Object.keys(this.allowedFields);
      let errors = 0;

      fields.forEach((field) => {
        if (this.allowedFields[field].error) {
          errors += 1;
        }
      });

      if (errors === 0) {
        return true;
      }
      return false;
    },
  },
  methods: {
    validate() {
      const fields = Object.keys(this.allowedFields);

      fields.forEach((field) => {
        this.checkField(field);
      });
    },
    checkField(key) {
      const fieldTitle = key;
      const field = this.allowedFields[fieldTitle];
      const { errors } = messages;

      if (field.required && !field.value) {
        field.error = errors.formFieldEmpty[fieldTitle];
      } else if (field.pattern && !field.pattern.test(field.value)) {
        field.error = errors.formFieldIncorrect[fieldTitle];
      } else {
        field.error = '';
      }
    },
    submit() {
      this.validate();

      if (!this.isValid || this.isSending) {
        return;
      }

      const fields = Object.keys(this.allowedFields);
      const data = {};

      fields.forEach((field) => {
        data[field] = this.allowedFields[field].value;
      });

      this.$emit('submit', data);

      // this.$metrika.reachGoal('send_form');
      // this.$store.dispatch('sendData', data);
    },
  },
};
</script>

<style lang="scss">
  .callback-form {
    position: relative;
    display: block;

    &__button {
      margin-top: 30px;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 30px;

    &__label {
      font-size: $fz-basic;
      font-family: $global-font;
      font-weight: 300;
      margin-bottom: 6px;
    }

    &__field,
    &__select {
      width: 100%;
      font-size: $fz-basic;
      font-family: $global-font;
      font-weight: 300;
      border-width: 2px;
      border-style: solid;
      border-image: linear-gradient(85deg, #f1e190, #573a00, #d3b642, #f9e99d);
      border-image-slice: 1;
      padding: 5px 10px;
      box-shadow: 0 2px 5px 1px rgba(#000000, .3);

      &--error {
        border-image: linear-gradient(85deg, $error-red, $error-red);
        border-image-slice: 1;
      }
    }

    &__field {
      &::placeholder {
        opacity: .5;
      }

      &:focus::placeholder {
        color: transparent;
      }
    }

    &__message {
      font-family: $global-font;
      font-size: 12px;
      font-weight: 300;

      &--error {
        color: $error-red;
      }
    }
  }
</style>
