<template>
  <div class="popup">
    <div class="popup__overlay" @click="$emit('close')"></div>
    <div class="popup__wrapper container">
      <div class="popup__window">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Popup',
};
</script>

<style lang="scss">
.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100vh;
  padding-top: 15vh;
  background-color: rgba(#000000, .5);
  z-index: 9999;

  &__wrapper {
    overflow-x: hidden;
    padding-bottom: 100px;
    padding-top: 100px;
    height: 100%;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__window {
    position: relative;
    width: min-content;
    overflow: hidden;
    min-width: 320px - 24px;
    min-height: 1px;
    margin: 0 auto;
    background-color: rgba(#ebeae9, .9);
    box-shadow: 0px 1px 10px 1px rgba(#000000, .4);
    border-radius: 20px;
    z-index: 2;
  }

  &__title {
    padding: 30px 24px 0;
    font-family: $global-font;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }

  &__form {
    min-width: 380px;
    padding: 30px 80px;

    @include below($mobile-width-xs) {
      min-width: 320px;
      padding: 30px 32px;
    }
  }
}
</style>
