<template>
  <section class="services-section">
      <div class="services-section__header container">
        <h2 class="services-section__title">
          {{ title }}
        </h2>
      </div>
      <div class="services-section__body container">
        <div class="services">
          <carousel
            class="services__slider"
            :perPageCustom="[[0, 1], [584, 2], [768, 3], [1200, 6]]"
            :paginationColor="'transparent'"
            :paginationActiveColor="'transparent'"
            :paginationPadding="0"
            :paginationSize="12"
            v-if="viewMode === 'slider'"
          >
            <slide
              v-for="service in items"
              :key="service.title"
            >
              <div class="services__slide service-snippet">
                <div class="service-snippet__icon">
                  <img :src="service.image" :alt="service.title">
                </div>
                <div class="service-snippet__title">
                  {{ service.title }}
                </div>
                <ul class="service-snippet__details-list">
                  <li
                    class="service-snippet__details-item"
                    v-for="detail in service.serviceIncludes"
                    :key="detail"
                  >
                    {{ detail }}
                  </li>
                </ul>
              </div>
            </slide>
          </carousel>
          <ul
            class="services__list"
            v-else-if="viewMode === 'grid'"
          >
            <li
              class="services__item service-snippet"
              v-for="service in items"
              :key="service.title"
            >
              <div class="service-snippet__icon">
                <img :src="service.image" :alt="service.title">
              </div>
              <div class="service-snippet__title">
                {{ service.title }}
              </div>
              <ul class="service-snippet__details-list">
                <li
                  class="service-snippet__details-item"
                  v-for="detail in service.serviceIncludes"
                  :key="detail"
                >
                  {{ detail }}
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </section>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';

export default {
  name: 'SectionServices',
  props: {
    title: {
      type: String,
      default: 'Услуги',
    },
    items: {
      type: Array,
    },
  },
  components: {
    Carousel,
    Slide,
  },
  data: () => ({
    viewModeBreakpoints: {
      1024: 'slider',
    },
    windowSize: {
      width: window.innerWidth,
      height: window.innerHeight,
    },
  }),
  computed: {
    viewMode() {
      const windowWidth = this.windowSize.width;
      const breakpoints = this.viewModeBreakpoints;
      const breakpointsList = Object.keys(breakpoints).reverse();
      let viewMode = 'grid';

      if (breakpointsList.length) {
        breakpointsList.forEach((breakpoint) => {
          if (windowWidth <= breakpoint) {
            viewMode = breakpoints[breakpoint];
          }
        });
      }
      return viewMode;
    },
  },
  methods: {
    resizeHandle() {
      this.windowSize.width = window.innerWidth;
      this.windowSize.height = window.innerHeight;
    },
  },
  created() {
    window.addEventListener('resize', this.resizeHandle);
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.resizeHandle);
  },
};
</script>

<style lang="scss">
  .services-section {
    background-image: $bg-gradient--dark;

    &__header {
      padding-top: 45px;
      padding-bottom: 45px;
    }

    &__title {
      font-size: $fz-large;
      font-family: $global-font;
      font-weight: 400;
      margin: 0;
      line-height: 1.2;
      color: $text-color--light;

      @include below($mobile-width-xs) {
        font-size: 28px;
        text-align: center;
      }
    }
  }

  .services {
    @include below($tablet-width) {
      padding-bottom: 50px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% + 24px);
      margin: 0;
      margin-left: -12px;
      margin-right: -12px;
      list-style: none;
      padding: 0;
    }

    &__item {
      width: calc(100% / 6);
      padding: 0 12px 40px;

      @include below($desktop-width) {
        width: calc(100% / 3);
      }

      @include below($mobile-width) {
        width: 50%;
      }

      @include below($mobile-width-xs) {
        width: 100%;
      }
    }

    &__slide {
      padding: 0 12px 24px;
    }

    & .VueCarousel-pagination {
      position: absolute;
      bottom: -20px;
    }

    & .VueCarousel-dot {
      border: 3px solid #303030 !important;
      border-radius: 0 !important;
      margin-right: 10px;

      &:last-of-type {
        margin-right: 0;
      }

      &--active {
        border: 3px solid #d5bf7d !important;
      }
    }
  }

  .service-snippet {
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
      height: 60px;

      @include below($desktop-width) {
        justify-content: left;
        padding-left: 30px;
      }

      @include below($mobile-width-xs) {
        justify-content: center;
        padding-left: 0;
      }
    }

    &__title {
      font-family: $global-font;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 12px;
      text-align: center;
      color: $text-color--light;
      margin-bottom: 18px;
      white-space: nowrap;

      @include below($desktop-width) {
        text-align: left;
      }

      @include below($mobile-width-xs) {
        text-align: center;
      }
    }

    &__details-list {
      font-family: $global-font;
      font-size: 12px;
      font-weight: 300;
      color: #d5bf7d;
      padding: 0;
      list-style: none;

      @include below($mobile-width-xs) {
        width: 50%;
        min-width: 250px;
        margin: 0 auto;
      }
    }

    &__details-item {
      position: relative;

      &::before {
        content: '';
        display: inline-block;
        width: .4em;
        height: .4em;
        border-radius: 100px;
        margin-right: .4em;
        background-color: #d5bf7d;
      }
    }
  }
</style>
