<template>
  <section class="design-inclusions-section">
      <div class="design-inclusions-section__header container">
        <h2 class="design-inclusions-section__title">
          {{ title }}
        </h2>
      </div>
      <div class="design-inclusions-section__body container">
        <div class="design-inclusions">
          <carousel
            class="design-inclusions__slider"
            :perPageCustom="[[0, 1], [768, 2], [1024, 3], [1200, 4]]"
            :paginationColor="'transparent'"
            :paginationActiveColor="'transparent'"
            :paginationPadding="0"
            :paginationSize="12"
            v-if="viewMode === 'slider'"
          >
            <slide
              v-for="item in items"
              :key="item.title"
            >
              <div class="design-inclusions__slide inclusion-card">
                <div class="inclusion-card__preview">
                  <img :src="item.image" :alt="item.title">
                </div>
                <div class="inclusion-card__title">
                  {{ item.title }}
                </div>
              </div>
            </slide>
          </carousel>
          <ul
            class="design-inclusions__list"
            v-else-if="viewMode === 'grid'"
          >
            <li
              class="design-inclusions__item inclusion-card"
              v-for="item in items"
              :key="item.title"
            >
              <div class="inclusion-card__preview">
                <img :src="item.image" :alt="item.title">
              </div>
              <div class="inclusion-card__title">
                {{ item.title }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';

export default {
  name: 'SectionDesignInclusions',
  components: {
    Carousel,
    Slide,
  },
  props: {
    title: {
      type: String,
      default: 'Дизайн-проект включает в себя',
    },
    items: {
      type: Array,
    },
  },
  data: () => ({
    viewModeBreakpoints: {
      1024: 'slider',
    },
    windowSize: {
      width: window.innerWidth,
      height: window.innerHeight,
    },
  }),
  computed: {
    viewMode() {
      const windowWidth = this.windowSize.width;
      const breakpoints = this.viewModeBreakpoints;
      const breakpointsList = Object.keys(breakpoints).reverse();
      let viewMode = 'grid';

      if (breakpointsList.length) {
        breakpointsList.forEach((breakpoint) => {
          if (windowWidth <= breakpoint) {
            viewMode = breakpoints[breakpoint];
          }
        });
      }
      return viewMode;
    },
  },
  methods: {
    resizeHandle() {
      this.windowSize.width = window.innerWidth;
      this.windowSize.height = window.innerHeight;
    },
  },
  created() {
    window.addEventListener('resize', this.resizeHandle);
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.resizeHandle);
  },
};
</script>

<style lang="scss">
  .design-inclusions-section {
    padding-bottom: 36px;

    &__header {
      padding-top: 45px;
      padding-bottom: 45px;
    }

    &__title {
      font-family: $global-font;
      font-size: $fz-large;
      font-weight: 400;
      margin: 0;
      line-height: 1.2;

      @include below($mobile-width-xs) {
        font-size: 28px;
        text-align: center;
      }
    }
  }

  .design-inclusions {
    @include below($tablet-width) {
      width: calc(100% + 24px);
      margin: 0;
      margin-left: -12px;
      margin-right: -12px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% + 24px);
      margin: 0;
      margin-left: -12px;
      margin-right: -12px;
      list-style: none;
      padding: 0;

      @include below($desktop-width) {
        justify-content: center;
      }
    }

    &__item {
      display: block;
      width: 25%;
      padding: 0 12px 24px;

      @include below($desktop-width) {
        width: calc(100% / 3);
      }

      @include below($tablet-width) {
        width: calc(100% / 2);
      }

      @include below($mobile-width-xs) {
        width: 100%;
      }
    }

    &__slide {
      padding: 0 12px 24px;
    }

    & .VueCarousel-pagination {
      position: absolute;
      bottom: -15px;
    }

    & .VueCarousel-dot {
      border: 3px solid #d5bf7d !important;
      border-radius: 0 !important;
      margin-right: 10px;

      &:last-of-type {
        margin-right: 0;
      }

      &--active {
        border: 3px solid #303030 !important;
      }
    }
  }

  .inclusion-card {
    position: relative;

    &__preview {
      position: relative;
      padding-bottom: calc(185 / 282 * 100%);
      background-image: $bg-gradient--silver;

      & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &__title {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      right: 12px;
      bottom: 24px;
      left: 12px;
      line-height: 1.5;
      font-family: $global-font;
      font-size: $fz-basic;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      color: $text-color--light;
      padding: 12px 24px 12px;
      background-color: rgba(#000000, .6);
    }
  }
</style>
