//fonts
@mixin font-face($font-family, $url, $svg, $weight: normal, $style: normal) {
  @font-face {
    font-family: '#{$font-family}';
		src: url('#{$url}.eot');
		src: url('#{$url}.eot?#iefix') format('embedded-opentype'),
		     url('#{$url}.woff') format('woff'),
		     url('#{$url}.ttf') format('truetype'),
         url('#{$url}.svg##{$svg}') format('svg');
		font-weight: $weight;
		font-style: $style;
	}
}

$fonts-directory: '/assets/fonts';

// @include font-face('Calibri', '#{$fonts-directory}/Calibri', 'Calibri');
// @include font-face('Journalism', '#{$fonts-directory}/Journalism2', 'Journalism2');
// @include font-face('Pobeda', '#{$fonts-directory}/pobeda-bold', 'pobeda-bold', 600);
// @include font-face('Pobeda', '#{$fonts-directory}/pobeda-regular', 'pobeda-regular', 400);
// @include font-face('IBMPlexSerif', '#{$fonts-directory}/IBMPlexSerif-Regular', 'IBMPlexSerif-Regular', 400);
// @include font-face('IBMPlexSerif', '#{$fonts-directory}/IBMPlexSerif-Bold', 'IBMPlexSerif-Bold', 600);
// @include font-face('MyriadPro', '#{$fonts-directory}/MyriadPro-Regular', 'MyriadPro');

@include font-face('Navigo', '#{$fonts-directory}/Navigo-Thin', 'Navigo-Thin', 100);
@include font-face('Navigo', '#{$fonts-directory}/Navigo-ExtraLight', 'Navigo-ExtraLight', 200);
@include font-face('Navigo', '#{$fonts-directory}/Navigo-Light', 'Navigo-Light', 300);
@include font-face('Navigo', '#{$fonts-directory}/Navigo-Regular', 'Navigo-Regular', 400);
@include font-face('Navigo', '#{$fonts-directory}/Navigo-Medium', 'Navigo-Medium', 500);
@include font-face('Navigo', '#{$fonts-directory}/Navigo-Bold', 'Navigo-Bold', 600);
@include font-face('Navigo', '#{$fonts-directory}/Navigo-Black', 'Navigo-Black', 800);
