// media queries mixins
@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $small) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $small + 1) and (max-width: $large - 1) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $large) { @content; }
  }
}

// more than width
@mixin above($width) {
  @media only screen and (min-width: $width) { @content; }
}

// less than width
@mixin below($width) {
  @media only screen and (max-width: $width) { @content; }
}

@mixin between($min-width, $max-width) {
  @media only screen and (min-width: $min-Width) and (max-width: $max-width) { @content; }
}

@function em($pixels, $context: $fz-basic) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

@mixin global__font($weight) {
  font-family: 'Navigo';
  font-weight: $weight;
}