// colors
$text-color--dark: #303030;
$text-color--light: #ffffff;
$error-red: #e63548;

$gold: #ebed11;
$blue: #1e91ea;

// gradient backgrounds
$bg-gradient--dark: linear-gradient(-140deg, #273942, #000000);
$bg-gradient--dark-reverse: linear-gradient(40deg, #273942, #000000);
$bg-gradient--gold: linear-gradient(-130deg, #c2a53c, #d4b746, #f4e297, #faf2d0);
$bg-gradient--silver: linear-gradient(-130deg, #d6d0ce, #faf9f9);

// media breakepoints
$mobile-width-xs: 576px;
$mobile-width: 768px;
$tablet-width: 1024px;
$desktop-width: 1200px;

// fonts
$global-font: 'Navigo', Helvetica, Arial, sans-serif;

// fonts sizes
$fz-small: 12px;
$fz-basic: 16px;
$fz-large: 36px;

$header-height: 60px;
$footer-height: 35px;