*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
}

.page {
  position: relative;
  min-height: calc(100vh - 95px);
  background-image: $bg-gradient--silver;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
  }

  &::before {
    top: calc(-50 / 1200 * 100vw);
    left: 0;
    width: calc(250 / 1200 * 100vw);
    height: calc(455 / 1200 * 100vw);
    background-image: url('/assets/triangle-1.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top right;
  }

  &::after {
    top: -5px;
    right: 0;
    width: calc(170 / 1200 * 100vw);
    height: calc(520 / 1200 * 100vw);
    background-image: url('/assets/triangle-2.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top left;
  }
}

.container {
  width: 100%;
  max-width: 1200px + 48px;
  padding: 0 24px;
  margin: 0 auto;

  @include below($mobile-width) {
    max-width: 768 + 24px;
    padding: 0 12px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 24px);
  margin-right: -12px;
  margin-left: -12px;
}

.button {
  position: relative;
  min-width: 150px;
  padding: 5px 30px;
  font-family: $global-font;
  font-weight: 300;
  font-size: $fz-basic;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $text-color--light;
  background: $bg-gradient--dark;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(gold, .5);
  // border-image: linear-gradient(to right, #67603c, #41320d, #887b3a, #70776b);
  // border-image-slice: 1;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;

  &--large {
    font-size: 20px;
    padding: 15px 40px;

    @include below($mobile-width-xs) {
      font-size: 16px;
    }
  }

  &--block {
    width: 100%;
  }

  &[disabled] {
    opacity: .6;
  }
}

//fix safari input shadow bug
input[type=text], 
textarea[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
